
mat-card {
    position: relative;
    width: 350px;
    height: 565.95px;
    animation-duration: 1s;
}

mat-card:hover {
    animation-name: moveUp;
    animation-fill-mode: forwards;
}

@keyframes moveUp {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-3px);
    }
}

mat-card-actions {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.mat-card-title {
    margin-left: -16px;
}

.right-margin{
    margin-right: 20px;
}
